.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 11px;
    background-color: #dc4561;
    color: white;
    text-transform: uppercase;
    /* font-family: 'Open Sans Condensed'; */
    font-weight: bolder;
    border: none;
    cursor: pointer;

    
}
button.relative{
    position: relative;
}
button.absolute.custom-button {
    position: absolute;
    right: -10px;
    bottom: -10px;
}
a.custom-button {
    display: inline-block;
}
  .custom-button:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    .custom-button.inverted{
        border: 1px solid #333;
        background-color:transparent;
        color:#333;
        background: #fff;
        
    }
    .custom-button.inverted:hover{

        background-color:#333;
        color:#fff
    }

    .long-arrow-right {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
  
    .long-arrow-right {
        display: block;
        margin: 20px auto;
        width: 10px;
        height: 10px;
        position: absolute;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        right: 20px;
        top: 0;
    }
    .long-arrow-right::after {
        content: "";
        display: block;
        width: 2px;
        height: 15px;
        background-color: #fff;
        transform: rotate(-45deg) translate(4px, 2px);
        left: 0;
        top: -30px;
    }